<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<a href="/recipes/recipe">Click for most recently automated recipes json</a> (<%= Recipe.first.updated_at.strftime("%m-%e-%y %I:%M %p") %>)
<br><br>
<a href="/ingredients.json">Click for /ingredients.json</a>
<br><br>
<a href="/recipes.json">Click for /recipes.json</a>
<br><br>
<a href="/ingredientRecipes.json">Click for /ingredientRecipes.json</a>
<br><br>
<a href="/recipease_final.json">Click for merged, final recipease json (/ingredients, /recipes, /ingredientRecipes, /users)</a>